/* ===================================
    TABLET — 48em (768px)
    =================================== */

@media (min-width: 48em) {

/* ===================================
    HEADER
    =================================== */

.hero-text-garrett{
  font-size: clamp(1.4375rem, 9.26vw, 3.625rem);
}

.hero-text-comer{
  font-size: clamp(1.875rem, 11.9vw, 4.6875rem);
}

.hero-sub-1-text{
  font-size: clamp(1.125rem, 3.17vw, 1.875rem);
}

.hero-sub-2-text{
  font-size: clamp(1rem, 2.38vw, 1.5625rem);
}

.header-image img{
  width: 8.5rem;
  height: 21.5rem;

}

/* ===================================
    CAREER STATS
    =================================== */

.carrer-stats-header{
  font-size: clamp(1.625rem, 1.32vw, 1.9375rem);
}

.carrer-stat{
  font-size: clamp(1.625rem, 1.32vw, 1.9375rem);
}

.carrer-stat-description{
  font-size: clamp(1rem, 1.06vw, 1.25rem);
}

/* ===================================
    RECENT RACES
    =================================== */

.recent-races-header-text{
  font-size: clamp(1.625rem, 1.32vw, 1.9375rem);
}

.filter-text{
  font-size: clamp(1.125rem, 1.06vw, 1.375rem);
}

.place-number{
  font-size: clamp(1.8125rem, 2.65vw, 2.4375rem);
}

.place-suffix{
  font-size: clamp(1rem, 0.53vw, 1.125rem);
}

.time-text{
  font-size: clamp(1.25rem, 1.32vw, 1.5625rem);
}

.event-title{
  font-size: clamp(1.125rem, 1.06vw, 1.375rem);
}

.event-sub-title{
  font-size: clamp(1rem, 1.06vw, 1.25rem);
}

.date-text, .location-text, .runner-text{
  font-size: clamp(1rem, 1.06vw, 1.25rem);
}

/* ===================================
    HISTORICAL
    =================================== */

.historical-place-text{
  font-size: clamp(1.625rem, 1.32vw, 1.9375rem);
}

.historical-place-suffix{
  font-size: clamp(1rem, 0.53vw, 1.125rem);
}

.historical-grade-text{
  font-size: clamp(1.125rem, 1.06vw, 1.375rem);
}

.historical-time-text{
  font-size: clamp(1.125rem, 1.06vw, 1.375rem);
}

.historical-date-text, .historical-location-text, .historical-runner-text{
  font-size: clamp(1rem, 1.06vw, 1.25rem);
}

.gallery-section {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

}


/* ===================================
    DESKTOP — 64em (1024px)
    =================================== */

@media (min-width: 64em) {


/* HEADER */

.hero-text-garrett{
  font-size: 3.875rem;       /* 62px */
}

.hero-text-comer{
 font-size: 5.75rem;         /* 92px */
}

.hero-sub-1-text{
  font-size: 1.875rem;       /* 30px */
}

.hero-sub-2-text{
  font-size: 1.5625rem;      /* 25px */
}

.header-image img{
  width: 11.5rem;            /* 184px */
  height: 29.1875rem;        /* 467px */
}

.hero-header{
  gap: 1.875rem;             /* 30px */
}

/* CARRER STATS */

.carrer-stat-card{
  width: 10rem;              /* 160px */
  height: 10rem;             /* 160px */
}

.carrer-stats-header{
  font-size: 1.9375rem;      /* 31px */
}

.carrer-stat{
  font-size: 1.9375rem;      /* 31px */
}

.carrer-stat-description{
  font-size: 1.25rem;        /* 20px */
}

/* RECENT RACES */

.recent-races-header-text{
  font-size: 1.9375rem;      /* 31px */
}

.filter-text{
  font-size: 1.375rem;       /* 22px */
}

.place{
  width: 4.1875rem;          /* 67px */
  height: 4.1875rem;         /* 67px */
}

.place-number{
  font-size: 2.4375rem;      /* 39px */
}

.place-suffix{
  font-size: 1.125rem;       /* 18px */
}

.time-text{
  font-size: 1.5625rem;      /* 25px */
}

.event-title{
  font-size: 1.375rem;       /* 22px */
}

.event-sub-title{
  font-size: 1.25rem;        /* 20px */
}

/* DETAILS */

.date-text, .location-text, .runner-text{
  font-size: 1.25rem;        /* 20px */
}

.date-vector, .location-vector, .runner-vector{
  width: 1rem;               /* 16px */
  height: 1.25rem;           /* 20px */
}

/* HISTORICAL */
.historical-place-text{
  font-size: 1.9375rem;      /* 31px */
}

.historical-place-suffix{
  font-size: 1.125rem;       /* 18px */
}

.historical-grade-text{
  font-size: 1.375rem;       /* 22px */
}

.historical-time-text{
  font-size: 1.375rem;       /* 22px */
}

.historical-date-vector, .historical-location-vector, .historical-runner-vector{
  width: 1rem;               /* 16px */
  height: 1.25rem;           /* 20px */
}

.historical-date-text, .historical-location-text, .historical-runner-text{
  font-size: 1.25rem;        /* 20px */
}

}

}
