*{
  box-sizing: border-box;
}

body{
  background-color: #F2F7FB;
  display: flex;
  width: 100%;
  overflow-x: hidden;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Roboto', sans-serif;
}

/* ===================================
    HEADER
    =================================== */

.hero-header{
  display: flex;
  padding: 15px 12px;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}

.header-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.hero-text{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2px;
}

/* TEXT STYLES */

.hero-text-garrett{
  color: #000;
  font-family: Oswald;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-text-comer{
 color: #000;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}

.hero-sub-1-text{
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.hero-sub-2-text{
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}


/* IMAGE STYLE */

.header-image img{
  width: auto;
  height: 263px;
}


/* ===================================
    CARRER STATS HEADER
    =================================== */

.carrer-stats{
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 38px;
  /* align-self: stretch; */
}

.carrer-stats-header{
  color: #000;
  font-family: Oswald;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* ===================================
    CARRER STAT BOXES
    =================================== */

.carrer-stat-table{
  display: flex;
  padding: 20px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 12px;
  align-self: stretch;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.carrer-stat-card{
  display: flex;
  width: 130px;
  height: 130px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 41px;
  /* aspect-ratio: 1/1; */
  background: #0C171E;
  border-radius: 10px;
}

.carrer-stat{
  color: #FFF;
  text-align: center;
  font-family: Oswald;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.carrer-stat-description{
  color: #C9C8C8;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* ===================================
    RECENT RACES HEADER  
    =================================== */

.recent-races-header{
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.recent-races-header-text{
  color: #000;
  text-align: center;
  font-family: Oswald;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.filter-container{
  display: flex;
  align-items: flex-start;
  gap: 13px;
}

.filter-text{
  color: #000;
  text-align: center;
  font-family: Oswald;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/* ===================================
    RECENT RACES CARD  
    =================================== */

.recent-races-container{
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
  width: 100%;
}

/* RACE CARD */

.race-card{
  display: flex;
  padding: 12px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  align-self: stretch;
  background: #0C171E;
  border-radius: 10px;
}

/* PLACE TIME */

.place-time{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.place{
  display: flex;
  width: 57px;
  height: 57px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  aspect-ratio: 1/1;
  background: #F2F7FB;
  border-radius: 10px;
}

.place-number{
  color: #000;
  font-family: Oswald;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.place-suffix{
  color: #000;
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.time{
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  background: #F2F7FB;
  border-radius: 10px;
}

.time-text{
  color: #111;
  font-family: Oswald;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* RACE TITLE */

.race-title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  align-self: stretch;
}

.event-title{
  align-self: stretch;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.event-sub-title{
  color: #EAF2F9;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* RACE DETAILS */

.race-details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}


/* DATE  */

.date{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.date-text{
  color: #919191;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.date-vector{
  width: 14px;
  height: 16px;
  /* aspect-ratio: 7/8; */
}


/* LOCATION */

.location{
  display: flex;
  align-items: center;
  gap: 15px;
}

.location-text{
  color: #919191;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.location-vector{
  width: 14px;
  height: 16px;
}

/* RUNNERS */

.runner{
  display: flex;
  align-items: center;
  gap: 15px;
}

.runner-text{
  color: #919191;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.runner-vector{
  width: 14px;
  height: 16px;
  /* aspect-ratio: 14/17; */
}

/* ===================================
    HISTORICAL RACE DATA
    =================================== */


.historical-container{
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background: #FFF;
  border-radius: 10px;
}

/* TIME - PLACE - GRADE */

.historical-place-time-grade{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 100%;
}

/* PLACE - GRADE */

.historical-place-grade{
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

/* PLACE */

.historical-place{
  display: flex;
  width: 57px;
  height: 57px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  aspect-ratio: 1/1;
  background: #192732;
  border-radius: 10px;
}

.historical-place-text{
  color: #FFF;
  font-family: Oswald;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.historical-place-suffix{
  color: #FFF;
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* GRADE */

.historical-grade{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.historical-grade-text{
  color: #0C171E;
  font-family: Oswald;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* TIME */

.historical-time{
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  background: #192732;
  align-self: flex-start;
  border-radius: 10px;
}

.historical-time-text{
  color: #FFF;
  font-family: roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


/* HISTORICAL RACE DETAILS */

.historical-date-location-runners{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}

/* DATE */

.historical-date{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.historical-date-vector{
  width: 14px;
  height: 16px;
  aspect-ratio: 7/8;
}

.historical-date-text{
  color: #474747;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* LOCATION */

.historical-location{
  display: flex;
  align-items: center;
  gap: 15px;
}

.historical-location-vector{
  width: 14px;
  height: 16px;
}

.historical-location-text{
  color: #474747;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* RUNNERS */

.historical-runners{
  display: flex;
  align-items: center;
  gap: 16px;
}

.historical-runner-vector{
  width: 14px;
  height: 17px;
  aspect-ratio: 14/17;
}

.historical-runner-text{
  color: #474747;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* CHEVRON */

.chevron-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.chevron{
  display: flex;
  width: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.chevron-vector{
  width: 12px;
  height: 7.41px;
}


/* COLLAPSE HISTORICAL DATA */

.historical-container.hidden {
    display: none;
}

.chevron-vector {
    transition: transform 0.3s ease;
}

.chevron-vector.rotated {
    transform: rotate(180deg);
}
