* {
  background: #F2F7FB;
}

body {
  font-family: "Oswald", sans-serif;
}


h1 {
  color: var(--Blue-900, #192732);
  font-family: sans-serif;
  font-size: 41.11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.hero-title {
  color: var(--Blue-900, #192732);
  font-family: sans-serif;
  font-size: 55.15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
  

h2{
  color: var(--Blue-950, #0C171E);
  font-family: Oswald;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#h2-sub {
  color: #000;
  font-family: Oswald;
  font-size: 16.27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  color: var(--Greyscale-950, #111);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}